{% extends 'basemin.html' %}
{% block title %} Edit Materi {% endblock %}
{% block nav_item_materi %} active {% endblock %}
{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<li class="alert alert-{{ category }}">{{ message }}</li>
{% endfor %}
{% endif %}
{% endwith %}
<main class="container">
    <form action="{{ url_for('edit_materi', materi_id=materi.id) }}" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="thumbnail">Thumbnail:</label>
            <input id="thumbnail" type="file" name="thumbnail" class="form-control form-control-sm"
                   aria-label="Small file input example">
            <div id="image-preview">
                {% if materi.thumbnail %}
                <img src="{{ url_for('static', filename='thumbnail/' + materi.thumbnail) }}" width="300"/>
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <label for="chapter">Bab: (1-20)</label>
            <input type="number" name="chapter" id="chapter" class="form-control" min="1" max="20" maxlength="3"
                   oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                   value="{{ materi.chapter }}">
        </div>
        <div class="form-group">
            <label for="title">Judul:</label>
            <input type="text" name="title" id="title" class="form-control" value="{{ materi.title }}">
        </div>
        <div class="form-group">
            <label for="text">Isi:</label>
            <textarea name="text" id="text" cols="30" rows="10" class="form-control">{{ materi.content }}</textarea>
        </div>
        <div class="form-group">
            <label for="attachment">Attachment:</label><br>
            <input type="file" id="attachment" name="attachment" multiple>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</main>

<script>
    const input = document.querySelector('input[type="file"]');
    const previewContainer = document.querySelector('#image-preview');

    input.addEventListener('change', function () {
        previewContainer.innerHTML = ''; // clear the container before updating
        const files = Array.from(this.files);

        files.forEach(file => {
            const reader = new FileReader();

            reader.addEventListener('load', () => {
                const img = document.createElement('img');
                img.setAttribute('src', reader.result);
                img.width = 300; // set the desired width

                previewContainer.appendChild(img);
            });

            reader.readAsDataURL(file);
        });
    });

</script>

{% block chart %} {% endblock %}
{% endblock %}