{% if current_user.is_authenticated and current_user.type == 'admin' %}
{% extends 'basemin.html' %}
{% else %}
{% extends 'base.html' %}
{% endif %}
{% block title %} Informasi {% endblock %}
{% block nav_item_info %} active {% endblock %}
{% block content %}

<div class="container">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Tutorial Penggunaan</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12 col-lg-6 col-xl-4">
                    <div class="card mb-2 bg-gradient-dark">
                        <img class="card-img-top" src="../static/dist/img/discuss.png" style="opacity: 0.2;">
                        <div class="card-img-overlay d-flex flex-column justify-content-end">
                            <h3 class="card-title" style="font-size: 30px;"><a href="/infodiskusi"
                                                                               class="stretched-link text-white">Diskusi</a>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6 col-xl-4">
                    <div class="card mb-2 bg-gradient-dark">
                        <img class="card-img-top" src="../static/dist/img/sinau.png" style="opacity: 0.2;">
                        <div class="card-img-overlay d-flex flex-column justify-content-end">
                            <h3 class="card-title" style="font-size: 30px;"><a href="/infomateri"
                                                                               class="stretched-link text-white">Materi</a>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6 col-xl-4">
                    <div class="card mb-2 bg-gradient-dark">
                        <img class="card-img-top" src="../static/dist/img/kertas.png" style="opacity: 0.2;">
                        <div class="card-img-overlay d-flex flex-column justify-content-end">
                            <h3 class="card-title" style="font-size: 30px;"><a href="/infoquiz"
                                                                               class="stretched-link text-white">Quiz</a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% block chart %} {% endblock %}
{% endblock %}